.container_logo {
    display: flex;
    justify-content: center;
}

.container_logo > h3{
    font-size: 128px;
    font-family: 'Istok Web', sans-serif;
    background-image: linear-gradient(to right, #FF0000, #0000FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.container_camps > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_camps > form > input{
    width: 325px;
    height: 33px;
    margin-bottom: 20px;
    border-radius: 100px;
    background-color: #D9D9D0;
    color: #000000;
    text-align: center;
}

.container_camps > form > button{
    background: #0000FF;
    border-radius: 100px;
    width: 168px;
    height: 40px;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.container_camps > form > button > .nvsenha{
    color: #FFFFFF;
    text-decoration: none;
}

.container_camps > form > small.info-senha {
    display: block;
    width: 325px;
    margin-top: -15px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #555555;
    font-style: italic;
    text-align: left;
    padding-left: 10px;
}