<div class="container_logo">
    <img src="../../../assets/image/logo.png" alt="">
    <h3 id="title">EBD</h3>
</div>

<div class="container_camps">
    <form [formGroup]="formulario" (ngSubmit)="alterarLogin()">
        <input type="text" placeholder="Matrícula/Nome Completo" formControlName="nomeMat" required>
        <input type="password" placeholder="Nova Senha" formControlName="nvSenha" required>
        <small class="info-senha">
            A senha deve conter pelo menos 8 caracteres, incluindo uma letra maiúscula, um número e um símbolo.
        </small>
        <input type="password" placeholder="Confirme a Senha" formControlName="cfNvSenha" required>
    </form>
    <button type="submit" [disabled]="formulario.invalid">Alterar Senha</button>
</div>