.container {
  padding: 40px;
  text-align: center;
  font-family: 'Istok Web', sans-serif;
}

.perfil-card {
  margin: 10px;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #732991;
  color: white;
  cursor: pointer;
}
