<div class="sidebar" [class.aberto]="menuVisible">
  <!-- Botão hamburguer só aparece no mobile -->
  <button 
    (click)="toggleMenu()" 
    class="toggle-button" 
    [ngClass]="menuVisible ? 'botao-fechar' : 'botao-abrir'">
    {{ menuVisible ? 'X' : '☰' }}
  </button>

  <div class="menu-content">
    <div class="user-menu">
      <button class="user-icon" (click)="togglePerfilMenu()">👤</button>
      <div *ngIf="perfilMenuVisible" class="perfil-dropdown">
        <button *ngFor="let perfil of rolesUsuario" (click)="trocarPerfil(perfil)">
          {{ perfil }}
        </button>
      </div>
    </div>
    <button id="Atividades" [routerLink]="['/activitysManager']">Atividades</button>
    <button id="Histórico" [routerLink]="['/schoolHistoryStudent']">Histórico Escolar</button>
    <button id="Frequência" [routerLink]="['/frequencyStudent']">Relatório</button>
    <button (click)="sair()">Sair</button>
  </div>
</div>