<div class="sidebar" [class.aberto]="menuVisible">
  <button 
    (click)="toggleMenu()" 
    class="toggle-button" 
    [ngClass]="menuVisible ? 'botao-fechar' : 'botao-abrir'">
    {{ menuVisible ? 'X' : '☰' }}
  </button>

  <div *ngIf="menuVisible" class="menu-content">
    <button id="Atividades" [routerLink]="['/activitysStudent']">Atividades</button>
    <button id="Relatório" [routerLink]="['/reportStudent']">Relatório</button>
    <button id="Histórico" [routerLink]="['/schoolHistoryStudent']">Histórico Escolar</button>
    <button id="Frequência" [routerLink]="['/frequencyStudent']">Frequência</button>
  </div>
</div>