<div class="layout">
    <app-menu-student></app-menu-student>
    <div class="main-content">
        <div class="header">
        <h3 id="title">EBD</h3>
        </div>
    </div>
</div>


<div class="historico-container">
    <h2>Histórico Escolar</h2>

    <div class="turma-card" *ngFor="let turma of turmas">
        <div class="card-header">
            <h5>{{ turma.nomeTurma }}</h5>
            <button [routerLink]="['/reportStudent', turma.nomeTurma]">Ver Detalhes</button>
        </div>

        <div class="card-stats">
            <div class="stat-item">
                <span class="label">Presenças</span>
                <span class="value">{{ turma.presencas }}</span>
            </div>
            <div class="stat-item">
                <span class="label">Bíblias</span>
                <span class="value">{{ turma.qtdBiblia }}</span>
            </div>
            <div class="stat-item">
                <span class="label">Ausências</span>
                <span class="value danger">{{ turma.ausencias }}</span>
            </div>
            <div class="stat-item">
                <span class="label">Revistas</span>
                <span class="value">{{ turma.qtdRevista }}</span>
            </div>
        </div>
    </div>
</div>