<div class="container_logo">
    <img src="../../../assets/image/logo.png" alt="">
    <h3 id="title">EBD</h3>
</div>
<div class="container_camps">
    <input type="text" class="nome" placeholder="Matrícula/Nome Completo">
    <input type="password" class="senha" placeholder="Senha">
    <br>
    <button class="entra">ENTRA</button>
    <br>
    <button class="nova_conta"><a [routerLink]="['/register']">NEW LOGIN</a></button>
    <br>
    <button class="nova_senha">ESQUECI A SENHA</button>
</div>
