<form [formGroup]="formulario" (ngSubmit)="fazerLogin()">
  <div class="container_logo">
    <img src="../../../assets/image/logo.png" alt="">
    <h3 id="title">EBD</h3>
  </div>

  <div class="container_camps">
    <input type="text" formControlName="identificador" placeholder="Matrícula/Nome completo" required />
    <input type="password" formControlName="senha" placeholder="Senha" required />
    <br>
    <button type="submit" class="entra" [disabled]="formulario.invalid">ENTRA</button>
    <br>
    <button class="nova_conta">
      <a [routerLink]="['/register']" class="conta">NEW LOGIN</a>
    </button>
    <br>
    <button class="nova_senha">
      <a [routerLink]="['/new_password']" class="esquecir">ESQUECI A SENHA</a>
    </button>
  </div>
</form>