.container_menu {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.hamburger {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 28px;
  background: none;
  border: none;
  color: rgb(99, 99, 99);
  z-index: 1100;
  cursor: pointer;
}

/* Estilo padrão */
app-menu {
  width: 200px;
  transition: width 0.3s ease;
}

/* Telas menores */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  app-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    z-index: 1000;
  }
}

.main-content {
  flex-grow: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
}

#title {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Istok Web', sans-serif;
  margin-top: 20px;
  color: transparent;
  background: linear-gradient(to right, #FF0000, #0000FF);
  -webkit-background-clip: text;
  background-clip: text;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* padrão: duas colunas */
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 20px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.card h4 {
  margin-bottom: 15px;
  color: #732991;
  font-weight: bold;
  text-align: center;
}

.alerts-section {
  grid-column: 1 / span 2;
  justify-self: center;
  max-width: 900px;
  background: #fff;
  border-radius: 20px;
  padding: 30px;
  border-left: 5px solid #732991;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
  margin-top: 10px;
}

.alerts-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.alert-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 0;
  border-bottom: 1px solid #f0f0f0;
}

.turma-badge {
  background: #f3e5f5;
  color: #732991;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: bold;
  min-width: 100px;
  text-align: center;
}

.days-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.day-pill {
  background: #732991;
  color: white;
  text-decoration: none;
  padding: 6px 15px;
  border-radius: 50px;
  font-size: 13px;
  transition: 0.2s;
}

.day-pill:hover {
  background: #5a2170;
  transform: scale(1.05);
}
