.container_menu {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.hamburger {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 28px;
  background: none;
  border: none;
  color: rgb(99, 99, 99);
  z-index: 1100;
  cursor: pointer;
}

/* Estilo padrão */
app-menu {
  width: 200px;
  transition: width 0.3s ease;
}

/* Telas menores */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  app-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    z-index: 1000;
  }
}

.main-content {
  flex-grow: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
}

#title {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Istok Web', sans-serif;
  margin-top: 20px;
  color: transparent;
  background: linear-gradient(to right, #FF0000, #0000FF);
  -webkit-background-clip: text;
  background-clip: text;
}

/* Card de usuário */
h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #222;
}

div[ngFor] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

/* Checkboxes */
label {
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
  font-size: 16px;
  color: #555;
}

input[type="checkbox"] {
  margin-right: 6px;
  transform: scale(1.2);
}

/* Botão salvar */
button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #732991;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  width: 100px;
}

button:hover {
  background-color: #732981;
}

/* Separador */
hr {
  margin-top: 20px;
  border: none;
  border-top: 1px solid #ccc;
}

.usuario-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}