<div class="layout">
    <app-menu></app-menu>
    <div class="main-content">
        <div class="header">
        <h3 id="title">EBD</h3>
        </div>
    </div>
</div>

<h2>Gerenciar Perfis</h2>
<div *ngFor="let usuario of usuarios" class="usuario-card">
  <h3>{{ usuario.nome }} (Matrícula: {{ usuario.matricula }})</h3>

  <div class="checkbox-group">
    <label *ngFor="let perfil of perfisDisponiveis">
      <input type="checkbox"
              [(ngModel)]="usuario.perfisMap[perfil]">
      {{ perfil }}
    </label>
  </div>

  <button (click)="salvar(usuario)">Salvar</button>
</div>