<div class="layout">
  <app-menu></app-menu>
  <div class="main-content">
    <div class="header">
      <h3 id="title">EBD</h3>
    </div>
  </div>
</div>

<div class="container">
  <h2>Atividades da Turma</h2>

  <label>Selecione a turma:</label>
    <select [(ngModel)]="turmaSelecionada" (change)="carregarAtividades()">
        <option *ngFor="let turma of turmas" [value]="turma.id">{{ turma.nome }}</option>
    </select>

  <button *ngIf="temPermissao" (click)="mostrarModal = true">Nova Atividade</button>

  <div class="modal-overlay" *ngIf="mostrarModal">
    <div class="modal">
      <button class="fechar" (click)="mostrarModal = false">✖</button>
      <h3>Criar Nova Atividade</h3>

      <label>Lição</label>
      <input type="text" [(ngModel)]="novaAtividade.licao" />

      <label>Título</label>
      <input type="text" [(ngModel)]="novaAtividade.titulo" />

      <label>Data</label>
      <input type="date" [(ngModel)]="novaAtividade.dataPublicacao" />

      <label>Descrição</label>
      <textarea [(ngModel)]="novaAtividade.descricao"></textarea>

      <button class="concluido" (click)="salvarAtividade()">CONCLUÍDO</button>
    </div>
  </div>

  <div *ngFor="let atividade of atividades" class="card">
    <h2>{{atividade.licao}}</h2>
    <h3>{{ atividade.titulo }}</h3>
    <p><strong>Data:</strong> {{ atividade.dataPublicacao | date:'dd/MM/yyyy HH:mm' }}</p>
    <p><strong>Descrição:</strong> {{ atividade.descricao }}</p>
  </div>
</div>